html {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

head {
    height: 10%;
}

body {
    height: 88%;
}

.main-grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sub-grid-container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.grid-item {
    flex-basis: 32%;
    flex-grow: 1;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
