<div (click)="togglePanel()" class="main border border-dark border-1 rounded-2" [ngStyle]="bkURL">
    <div class="inputDiv" *ngIf="hasError">
        <p>Error: {{error}}</p>
        <Label>Enter another city:</Label>
        <input [(ngModel)]="panelText" type="text" (keydown.enter)="handleInput()" />
    </div>
    <div class="inputDiv" *ngIf="isWaitingFirstInput">
        <Label>Enter a city:</Label>
        <input [(ngModel)]="panelText" type="text" (keydown.enter)="handleInput()" />
    </div>
    <div class="textDiv" *ngIf="isReadyToDisplayText">
        <p>{{panelText}}</p>
        <p>Last updated: {{time}}</p>
    </div>
    <div style="position: relative; bottom: 12%;" *ngIf="isReadyToDisplayText">
        <button class="btn-txt btn btn-dark" (click)="handleEdit()">Change City</button>
    </div>
</div>