.inputDiv {
    display: flex; 
    flex-direction: column; 
    width:100%; 
    height: 100%; 
    justify-content: center;
    align-items: center;
}

.main {
    width:100%; 
    height:100%; 
    display: flex;
    flex-direction: column;
}

.textDiv {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-txt {
    font-size: 0.85em;
}

.sunny-background {
    background-image: url("/assets/sunny.jpg");
}

.rainy-background {
    background-image: url("/assets/rainy.jpg");
}

.clouds-background {
    background-image: url("/assets/clouds.jpg");
}